body{
  background-color: black;
  color: #FFFFFF;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
.display-flex{
  display: flex;
}

/* FFFFFF 100% */
.text-white{
  color: #FFFFFF;
}
/* FFFFFF 60% */
.text-light-gray{
color: rgba(255, 255, 255, 0.6);
}

/* FFFFFF 65% */
.text-gray{
  color: rgba(255, 255, 255, 0.65);
}

/* FFFFFF 50% */
.text-dark-gray{
  color: rgba(255, 255, 255, 0.5);
}

.primary-bg{
  background-color: rgba(17, 17, 17, 1);
  /* background-color: rgba(119, 119, 119, 0); */
}

.btn-primary{
  background-color: #E6533C;
  width: 224px;
  font-size: 1.1rem;
  font-weight: 600;
  height: 54px;
  padding: 16px 46px;
  border: none;
  border-radius: 46px;
}

.btn-secondary{
  background-color: rgba(17, 17, 17, 1);
  width: 224px;
  font-size: 1.1rem;
  font-weight: 600;
  height: 54px;
  padding: 16px 48px;
  border: 1px solid white;
  border-radius: 46px;
}

.text-center{
  text-align: center;
}

main{
  max-width: 1060px;
  margin: 0 auto;
}
  /* header styles */
.navbar-section{
  max-width: 1060px;
  margin: 0 auto;
}

  /* navbar related styles */
  .navbar, .banner{
    justify-content: space-between;
    align-items: center;
  }

  .navbar{
    max-width: 1060px;
  }

  .brand{
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
    color: #E6533C;
  }
  .border{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
  }
  
  .nav-item{
    list-style: none;
    margin-right: 47px;
  }

  .nav-link{
    font-size: 1.1rem;
    text-decoration: none;
  }

#home{
  position: static;
  width: 52px;
  height: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 47px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 20px;
  border-radius: 46px;
  background-color: rgb(230, 83, 60);
}

  .navbar{
    max-width: 1060px;
    margin: 0 auto;
  }

  /* banner related styles */
  .banner{
    gap: 167px;
    max-width: 1040px;
  }

  .banner-title{
    font-size: 5rem;
  }


  .banner-content{
    max-width: 520px;
    margin: auto;
  }

  .banner-image{
    width: 100%;
  }

  .btn-section{
    gap: 14px;
    
  }

  #dot{
    font-size: 9rem;
    position: absolute;
    margin-top: -65px;
    margin-left: -48px;
    color: #E6533C;
  }

  #tutorial-badge{
    position: absolute;
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 12px;
    padding: 20px 23px 20px 75px;
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-left: -630px;
    margin-top: 130px;
  }

  #tutorial-videos{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px 63px 75px 8px;
    color: rgba(250, 250, 249, 1);
  }

  #workout-badge{
    position: absolute;
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    font-size: 0.85rem;
    color: rgba(239, 237, 232, 0.65);
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-left: -450px;
    margin-top: -160px;
  }

  #workout-videos{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 17px 53px 41px 24px;
    color: rgba(250, 250, 249, 1);
  }

  /* main section styles */

  .habits{
    max-width: 1440px;
    background-color: black;
  }

  .habits-content{
    /* max-width: 670px; */
    /* margin: 0; */
    text-align: center;
  }

  .habits-title, .run-title{
    font-size: 3rem;
    margin-bottom: 0;
  }

  .habits-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 58px;
  }

  .card{
    width: 230px;
    padding: 0px 23.5px 30px;
  }
.card-title{
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 6px;
  padding: 0px 50px 6px;
}

.card-description, .run-description{
  font-size: 0.9rem;
}

  .card > img{
    border-radius: 50%;
  }

  /* run an extra mile section styles */
  .run-easily{
    background-color: rgba(34, 34, 34, 1);
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 18px;
  }

  .run-extra-mile{
    max-width: 443px;
    margin-top: auto;
    margin-bottom: 40px;
    margin-left: 54px;
  }
  .run-img{
    max-width: 336px;
    border-radius: 18px;
    margin: 30px;
  }

  /* responsive media query */
  @media screen and (max-width: 576px) {
    .navbar, .nav-links, .banner{
      flex-direction: column;
    }
    /* .nav-links{
      display: none;
    } */
    .banner{
      max-width: 274px;
      margin: 0 auto;
    }
    .btn-primary, .btn-secondary{
      max-width: 169px;
      margin: 0 auto;
     padding: 16px 20px;
    }
  }